# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# NestJS / TypeScript build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor
.DS_Store
*.pem
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Vitest / Coverage
coverage/
.turbo/
